@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>@ViewBag.Name</p>
<p>@ViewBag.Password</p>
<p>@ViewBag.RememberMe</p>
<p>@ViewBag.LoggedIn</p>

<form method = "post">
    <button type = "submit" class = "btn btn-secondary" asp-action = "LogOut" asp-controller = "Home">Log Out</button>
</form>
